@charset "UTF-8";

#registForm {
	width: 500px;
	height: 600px;
	border: 2px solid hotpink;
	margin: auto;
}

h2 {
	text-align: center;
}

table {
	margin: auto;
	width: 450px;
}

.td_left {
	width: 150px;
	background: #ff8ca0;
}

.td_right {
	width: 300px;
	background: #ffd2da;
}

#commandCell {
	text-align: center;
}